# Copiar a .env y ajustar si es necesario
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_INSIGHT_PORT=5540

# Usado en credenciales ACE (mqsisetdbparms)
ACE_REDIS_CREDENTIAL_NAME=redis::pocRedisCredential
